<div>

<p>
Data is about to come...
=====================================================
2018/05/07 (Monday) 11:08:13
The Temperature in Fahrenheit is 69.70 degrees
The humidity in % is : 47.87 RH
The Barometric Pressure is 30.03 Inches of Mercury
The Altitude is: -8.55 meters
The distance is : 199.33
 cmThe total number of people so far is 583
=====================================================
2018/05/07 (Monday) 11:08:16
The Temperature in Fahrenheit is 69.70 degrees
The humidity in % is : 47.84 RH
The Barometric Pressure is 30.03 Inches of Mercury
The Altitude is: -8.55 meters
The distance is : 250.79
 cmThe total number of people so far is 584
=====================================================
2018/05/07 (Monday) 11:08:18
The Temperature in Fahrenheit is 69.66 degrees
The humidity in % is : 47.84 RH
The Barometric Pressure is 30.03 Inches of Mercury
The Altitude is: -8.71 meters
The distance is : 198.84
 cmThe total number of people so far is 585
=====================================================
2018/05/07 (Monday) 11:08:21
The Temperature in Fahrenheit is 69.66 degrees
The humidity in % is : 47.82 RH
The Barometric Pressure is 30.03 Inches of Mercury
The Altitude is: -8.39 meters
The distance is : 199.67
 cmThe total number of people so far is 586
=====================================================
2018/05/07 (Monday) 11:08:23
The Temperature in Fahrenheit is 69.66 degrees
The humidity in % is : 47.83 RH
The Barometric Pressure is 30.03 Inches of Mercury
The Altitude is: -8.05 meters
The distance is : 195.72
 cmThe total number of people so far is 587
=====================================================
2018/05/07 (Monday) 11:08:25
The Temperature in Fahrenheit is 69.64 degrees
The humidity in % is : 47.85 RH
The Barometric Pressure is 30.03 Inches of Mercury
The Altitude is: -8.63 meters
The distance is : 250.22
 cmThe total number of people so far is 588

</p>
</div>