<p>it loaded..</p>
<script type="text/javascript">
	window.onload = function () {
		var chart = new CanvasJS.Chart("chartContainer", {
			title: {
				text: "Temperature in Fahrenheit; May 7, 2018"
			},
			axisX: {
				title: "Time"
			},
			axisY: {
				title: "Degrees in Fahrenheit",
				suffix: "°F"
			},
			data: [
				{
					type: "spline",
					dataPoints: [
						{ label: "11:08:13 AM", y: 69.70 },
						{ label: "11:08:16 AM", y: 69.70 },
						{ label: "11:08:18 AM", y: 69.66 },
						{ label: "11:08:21 AM", y: 69.66 },
						{ label: "11:08:23 AM", y: 69.66 }
					]
				}
			]
		});

        chart.render();

		var yVal = 15, updateCount = 0;
		var updateChart = function () {

			yVal = yVal + Math.round(5 + Math.random() * (-5 - 5));
			updateCount++;

			dataPoints.push({
				y: yVal
			});

			chart.options.title.text = "Update " + updateCount;
			chart.render();

		};

		// update chart every second
		setInterval(function () { updateChart() }, 1000);
	}
</script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
